@model IEnumerable<KiemTra_NguyenVanQuang.Models.HocPhan>

@{
    ViewBag.Title = "Học Phần";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListHocPhan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaHP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenHP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoTinChi)
    </td>
    <td>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <div class="DatMua">
                    <a class="btn btn-success" href="@Url.Action("ListHocPhan", "DangKy",
                                new { @id = item.MaHP, @strURL = Request.Url.ToString() })">Đăng Ký</a>
                </div>
            </div>
        </div>
    </td>

</tr>
}

</table>
